@tailwind base;
@tailwind components;
@tailwind utilities;

/* Efek Aurora */
@keyframes gradient-xy {
    0%,
    100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

.animate-gradient {
    background-size: 200% 200%;
    animation: gradient-xy 6s ease infinite;
}

.bg-grid-pattern {
    background-image:
        linear-gradient(
            to right,
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.05) 1px,
            transparent 1px
        );
    background-size: 40px 40px; /* Ukuran kotak */
    animation: move-grid 20s linear infinite;
}

@keyframes move-grid {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 40px 40px;
    }
}

@keyframes floatUp {
    0% {
        transform: translateY(0) scale(1);
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translateY(-100vh) scale(0);
        opacity: 0;
    }
}

.particle {
    position: absolute;
    bottom: -10px;
    background-color: white;
    border-radius: 50%;
    animation: floatUp linear infinite;
}
